<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="be.thomasmore.logopedieproject2">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- <uses-sdk android:minSdkVersion="15" /> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MondelingActivity"
            android:label="@string/title_activity_mondeling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.SchriftelijkActivity"
            android:label="@string/title_activity_schriftelijk"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.PatientActivity"
            android:label="@string/title_activity_nieuwe_patient"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.HistoriekActivity"
            android:label="@string/title_activity_opnames"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.HistoriekDetailActivity"
            android:label="@string/title_activity_opnames_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.HistoriekDatumServiceActivity"
            android:label="@string/title_activity_historiek_datum_service"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.LaadPatientMondelingActivity"
            android:label="@string/title_activity_laad_patient_mondeling"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>